<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="version" value="3.0.0" />
    <add key="todayCount" value="0" />
    <add key="weekCount" value="0" />
    <add key="totalDataPath" value="\\192.168.0.17\记录表格\物料编码及规则\仓库物料总表标准版.xls" />
    <add key="templatePath" value="\\192.168.0.17\记录表格\物料编码及规则\模板\INVMB_DATA_202003071456107923.xls" />
    <add key="alarm01" value="不是有效的Excle文件" />
    <add key="alarm02" value="没有接收到待编码文件" />
    <add key="alarm03" value="没有加载总表" />
    <add key="alarm04" value="提供的9位编码总表中未找到" />
    <add key="alarm05" value="覆盖为总表中对应品号" />
    <add key="alarm06" value="覆盖为总表中品名规格" />
    <add key="alarm07" value="提供的编码分类总表中未找到" />
    <add key="alarm08" value="参数缺失" />
    <add key="alarm09" value="文件创建失败" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>